.App {
  text-align: center;
  margin: 5%;
  align-items: center;
}

h1 {
  margin-bottom: 40px;
}

.home {
  margin: auto;
  width: 90%;
  max-width: 40rem;
}
.btn {
  margin: 5px;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
